p{
color: black;
font-style:italic; 
}
h1{ 
	color: green;
	font-size: 40px;
	text-align: center;
	background-color: #C0C0C0;
	cursor: pointer;
 }
 body{
 	background-color: #A9A9A9; 
 	padding: 30px;
 	margin: 0px;
 /*	width: 1860px;*/

 }
 .jj{
 	background-color: blue;
 	font-size: 30px;
 }
 header li{
 	list-style: none;
 }
 a:link, a:visited{
 	text-decoration: none;
 	color: yellow;
 	background-color: black;
 	display: block;
 	text-align: center;
 	height: 50px;
 	line-height: 50px;
 }
 a:hover, a:active{
 	color: black;
 	background-color: white;
	height: 50px;
 	line-height: 50px;
 }
 h2:hover{
 	color: white;
 	cursor: pointer;
 }
 h2:active{
 	font-style: italic;
 	font-size: 50px;
 }
